<footer class="footer">
    <div class="container">
        <div class="footer-left">
            <h2 class="advertise-text">Bringing Local Events Closer to You!</h2>
            <p class="mail-text">Partner with us: <a href="mailto:contact@aaspaas.com">contact@aaspaas.com</a></p>
        </div>

        <div class="footer-right">
            <a href="/new"><i class="fas fa-calendar-plus"></i> Submit Your Event</a>
            <a href="/privacypolicy"><i class="fas fa-user-shield"></i> Privacy Policy</a>
            <a href="/tnc"><i class="fas fa-file-contract"></i> Terms & Conditions</a>
            <a href="/contact"><i class="fas fa-envelope"></i> Contact Us</a>
        </div>

    </div>

    <p class="copyright">© 2025 Aas-Paas. Connecting Communities, One Event at a Time.</p>
</footer>